# project-files
src/berlin_events_explorer/_version.py
pixi.lock
.pixi/
.venv/

# misc
.idea/
.init.log
.vscode
**/__pycache__/**
**.egg-info/
requirements.txt
events.sqlite
events.sqlite.*
.hermes/
events.sqlite*
.envrc
